<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid"></div>
    <a href="index">My Dating Website</a>
</nav>
<div id="container">
    <h1>Personal Information</h1>

    <form action="#" method="post" class="form-horizontal">
        <div class="row">
            <div class="col-sm-9">
                <div class="form-group">
                    <label for="FirstName" class="col-sm-2 control-label"><strong>First Name</strong></label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="FirstName" id="FirstName">
                    </div>

                    <label for="LastName" class="col-sm-2 control-label"><strong>Last Name</strong></label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="LastName" id="LastName">
                    </div>

                    <label for="Age" class="col-sm-2 control-label"><strong>Age</strong></label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="Age" id="Age">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><strong>Gender</strong></label>

                    <div class="col-sm-4">
                        <input type="radio" name="Gender" id="Male" value="Male"> Male</input>
                        <input type="radio" name="Gender" id="Female" value="Female"> Female</input>
                    </div>
                </div>

                <label for="Number" class="col-sm-2 control-label"><strong>Phone Number</strong></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" name="Number" id="Number">
                </div>
            </div>
            <div class="col-sm-3">
                <div id="Note"><Strong>Note: </Strong>All information entered is protected by our
                    <a href="">privacy policy</a>. Profile information can only be viewed by others with your permission.</div>
            </div>
        </div>
        <a class="btn btn-primary float-right" href="profile">Next ></a><br><br>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>